<h1>Dishwashers</h1>
<section data-product-id="1391191">
  <img class="product-image" src="//johnlewis.scene7.com/is/image/JohnLewis/233326789?" alt="Indesit DIF 04B1 Ecotime Fully Integrated Dishwasher, White">
  <h2 class="product-title">Indesit DIF 04B1 Ecotime Fully Integrated Dishwasher, White</h2>
  <p class="product-price">&pound;219.00<p>
</section>
