<h1>{{product.title}}</h1>
<div class="standard-product-container">
  <div class="carousel">
    <img src="{{product.images.[0]}}">
  </div>
  <p class="product-price">&pound;{{product.price}}</p>
  <p class="special-offers">{{product.displaySpecialOffer}}</p>
</div>
