/* Eric Meyer's CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans";
  font-weight: 100;
  color: #393939;
}

body {
  width: 100%;
}

header {
  position: relative;
  text-align: center;
  background-color: #f9f9f9;
  padding: 1.4rem 0;
  color: #727270;
  border-bottom: thin solid #e2e0d7;
}

h1 {
  font-size: 2rem;
}

.product-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-summary {
  width: 25%;
  padding: 32px;
  border: thin solid #d5d1c4;
}

.image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  margin-bottom: 8px;
}

.image-frame img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.product-summary .product-price {
  font-weight: 400;
}

main {
  position: relative;
  font-size: 1.2em;
}

a.back-button {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -12px;
  width: 13px;
  height: 25px;
  display: block;
  background-image: url('./back-arrow.png');
  background-size: contain;
  text-indent: -9999px;
}

.standard-product-container {
  width: 67%;
  padding: 30px 0;
  border-right: thin solid #d5d1c4;
}

.standard-product-container h2, .standard-product-container p {
  margin: 0.4em 0;
}

.standard-product-container h2 {
  font-size: 2em;
}

.standard-product-container .carousel,
.standard-product-container .product-information,
.standard-product-container .product-attributes {
  margin: 0 60px 30px 60px;
}

.standard-product-container .carousel {
  height: 450px;
}

.standard-product-container .image-frame {
  height: 100%;
}

.standard-product-container .read-more {
  margin: 0 0 30px 60px;
  padding: 20px 0;
  color: #284e36;
  font-size: 1.6em;
  border-top: thin solid #d5d1c4;
  border-bottom: thin solid #d5d1c4;
}

.standard-product-container .headline-information {
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
  padding: 30px 60px;
  font-weight: 400;
}

.standard-product-container .product-price {
  color: #393939;
  font-size: 2em;
}

.standard-product-container .special-offers {
  color: #990000;
}

.standard-product-container .included-services {
  color: #284e36;
}

.standard-product-container .attribute {
  display: flex;
  justify-content: space-between;
  border-top: thin solid #d5d1c4;
  padding: 20px 0;
}

